.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header_container {
    padding: 20px 0;
    /* margin-top: 43px;
    margin-left: 80px;
    display:flex; */
}

.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tbclogo {
    display: flex;
    width: 130px;
    height: 50px;
}

.nav1 {
    color: #000;
    font-family: Nanum Myeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-right: 15px;
    /* padding-left: 63px; */
}

.nav2 {
    color: #000;
    font-family: Nanum Myeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.nav3 {
    color: #000;
    font-family: Nanum Myeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
}
